
.newsletter {

    .input-group {
        width: 100%;

        @include breakpoint-up(medium) {
            width: 75%;
        }

        @include breakpoint-up(large) {
            width: 50%;
        }
    }
}