// Colors
// $darkblue: hsl(233, 26%, 24%);
// $limegreen: hsl(136, 65%, 51%);
// $brightcyan: hsl(192, 70%, 51%);
// $grayishblue: hsl(233, 8%, 62%);
// $lightgrayishblue: hsl(220, 16%, 96%);
// $verylightgray: hsl(0, 0%, 98%);
// $white: hsl(0, 0%, 100%);

$specialpurple: rgb(144,16,148);
$verylightgray: hsl(0, 0%, 98%);


// Font Size
$fontsize-xl: 3.25rem; 
$fontsize-lg: 1rem; 
$fontsize-md: 1.125rem; // 18px
$fontsize-sm: 0.875rem; // 14px
